services:

  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=postgres'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    networks:
      - ecommerce-network

  grafana-lgtm:
    image: 'grafana/otel-lgtm'
    ports:
      - '4318:4318'
      - '4317:4317'
      - '3000:3000'
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    external: true